.layout-menu li ul.layout-submenu-enter-done {
    color: red;
    padding: 0;
}
.layout-submenu {
    transition: all 0.5s;
    overflow: hidden;
    margin-left: 15px;
}

.layout-submenu-enter-done {
    display: block;
}

.layout-submenu-exit-done {
    display: none;
}
.active-item1 > a .icon-right {
    transform: rotate(-180deg);
}

.layout-menu .active-item > a {
    color: #39a3f4;
}
ul {
    list-style: none;

    margin: 0;
}
